{
  "ecmaFeatures": {
    "modules": true
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "rules": {
    "no-undefined": 0, // allow use of undefined variable (off by default)
    "no-unused-vars": 2, // disallow declaration of variables that are not used in the code
    "quotes": [2, "single"]
  }
}